<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- MATERIALIZE -->
  <link rel="stylesheet" href="./req/materialize.min.css">

  <title>Node File Uploads</title>
</head>
<body>
  
  <!-- CONTAINER -->
  <div class="container">
    <h1> Images Here</h1>

    <div class="row">
      
        <% images.forEach(function(image){ %>
          <%- include('image', {image: image}); %>
        <% }); %>
      
    </div>

  </div>


    <!-- JQUERY -->
    <script src="./req/jquery-3.4.0.min.js"></script>
    <!-- MATERIALIZE -->
    <script src="./req/materialize.min.js"></script>
  </body>
  </html>